{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body app-body>
    {% include 'includes/_header.html' %}
    <div app-container>
        {% include 'includes/_menu.html' %}
        <div app-content>
            {% block content %}{% endblock %}
        </div>
        {% include 'includes/_footer.html' %}
    </div>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>